
main{
  background-color: #f6f6f6;
  padding: 0px 30px 100px;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #f6f6f6;
  min-width: 500px;
}
nav{
  background-color: rgb(34,64,117) ;
  padding: 7px 30px;
}

div.navbar{
  padding: 0px;
}

.mobileNav{
  color: white;
}

a{
  color: white;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: white;
  cursor: pointer;
}

.hover-underline-animation:hover {
  color: white;
  text-decoration: none;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

span.material-symbols-outlined{
  vertical-align: middle;
  color: white;
}

#hamburgerMenu{
  font-size: 40px;
}

.reservations a{
  color: white;
  cursor: pointer;
  border-bottom: 3px solid white;
  font-weight: bold;
  font-size: 19px;
}

.reservations a span{
  margin-bottom: 5px;
  text-decoration-thickness: 2px;
  text-decoration-color: white;
}


.reservations a:hover {
  background-color: rgba(255, 255, 255, 0.1);;
  text-decoration: none;
  border-radius: 10px 10px 0px 0px;
  color: white;
  text-decoration: none;
}


/** scroll tabs */
.tab{
  padding: 0px 30px;
  position: relative;
  background-color: rgb(34,64,117);
  overflow: auto;
  white-space: nowrap;
}

.scrollTabs div{
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
}


.scrollTabs{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.scrollTabs::-webkit-scrollbar {
  -webkit-appearance: none;
  display: none;
  visibility: hidden;
}

.arrowLeft {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.arrowLeft .material-symbols-outlined, .arrowRight .material-symbols-outlined{
  color: white;
  font-size: 14px;
}

.arrowRight {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.tab{
  border-radius: 5px 5px 0px 0px ;
}
/* .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: rgb(34,64,117);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px 5px 0px 0px ;
  
  border: 1px solid red;
  flex-basis: 100%;
} */

.tabsection{
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
}

.tabsection img{
  margin: 0px 0px 4px;
}

/** scoll tabs */

/**icon sizes*/
#campsite{
  height: 19px;
  width: 23px;
}

#cabin{
  height: 17px;
  width: 22px ;
}

#group{
  height: 17px;
  width: 23px ;
}

#backcountry{
  height: 19px;
  width: 14px ;
}

#canoe{
  height: 15px;
  width: 22px ;
}

.tabsection img{
  margin-left: auto;
  margin-right: auto;
}


.arrow .material-symbols-outlined{
  font-size: 15px;
  margin-top: 0px;
  color: rgb(90,112,152)
}

/* Style the buttons inside the tab */
.tab button {
  background-color: transparent;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 18px;
  color: white;
  font-weight: bold;
}

#dOpen{
  background-color: white;
}

.tablinks{
  font-weight: bold;
}

.tabsection:hover{
  background-color: rgb(250,250,250, 0.1);
  cursor: pointer;
}

.tab button:hover {
  background-color: transparent; 
  text-decoration: none;
}

.tab button:active{
  background-color: transparent; 
  text-decoration: none;
}

.tab button:focus{
  text-decoration: none;
  outline: none;
}


/* Create an active/current tablink class */
/* .tab button.active {
  background-color: white;
  color: black;
  font-weight: bold;
} */

/* Style the tab content */
.tabcontent{
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  padding: 30px 20px;
}

#tabTitle{
  font-size: 18px;
  color: black;
}

/** query area */
.tabcontent label{
  font-size: 14px;
  margin: 0px;
}

/** makes the search box wider */
div .chosen-container{
  width: 300px !important; 
}

#removeAllX{
  background-color:rgb(34,64,117) ;
  cursor: pointer;
}
#searchButton{
  background-color: rgb(31,135,79);
  font-weight: bold;
  margin-top: 60px;
  width: 100%;
}

.container{
  margin: 40px 0px 0px 0px;
}



/** discover Section*/
.discoverSection, .moreInfoSection{
  margin: 40px 0px 0px; 
}

.discoverSection h2, .moreInfoSection h2{
  font-weight: bold;
  font-size: 24px;
}


.discoverText p{
  margin-top: 10px;
}

.discoverText{
  background-color: rgb(35,64,117);
  color: white;
  padding: 30px;
  object-fit: cover;
  height: 65%;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.discoverImg{
  object-fit: cover;
  width: 100%;
  height: 50%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.discoverText{
  font-size: 18px;
}

.discoverHyperlink{
  font-weight: bold;
}

/** more info section */

.moreInfoText{
  color: white;
  background-color: rgb(36,100,164);
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 16px;
}

.moreInfoSection .material-symbols-outlined{
  color:#FDB813;
}

.moreInfoSection h2, .discoverSection h2{
  margin: 0px;
}
.underline{
  color: #FDB813;
}

.discoverText .material-symbols-outlined{
  font-size: 16px
}

.sectionContainer{
  margin-top: 13px;
}


.moreInfoText p {
  margin: 0px;
  padding: 5px;
}

.moreInfoText:hover{
  cursor: pointer;
  background-color: rgb(35,64,117);
}

/* .moreInfoText p span{
  height: 10px;
} */



/**MOBILE: one image in discover, top nav bar is collapsed, bottom nav is stacked*/
@media screen  and (max-width: 655px) {
  main{
    padding: 0px 30px 50px;
    padding-top: 30px;
    /* margin: 0px 184px; */
  }

  #navLogo{
    width: 164px;
    height: 50px;
  }

  #signIn, #systemTime, #reservationsFullScreen, #bannerSection{
    display: none;
    visibility: hidden;
  }
  header{
    min-width: 360px;
    white-space: nowrap;
  }

  .navbar{
    display: flex;
    justify-content: space-between;
    padding: 7px 30px;
  }
  
  .sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(35,64,117);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
  }
  
  .sideNavHeader{
    display: flex;
    place-content: space-between;
    padding: 25px 10px 10px 25px;
  }

  .sideNavHeaderATags .material-symbols-outlined{
    color: white;
    vertical-align: middle;
    padding-right: 9px;
  }

  .eachNavHeader{
    display: flex;
    padding: 9px 25px;
  }

  .eachNavHeader a{
    color: white !important;
    font-weight: bold;
    visibility: visible !important;
  }

  .eachNavHeader:hover{
    color:white;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }

  .close-button{
    font-size: 40px;
    color: white;
    text-decoration: none;
  }

  .close-button:hover{
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
    color:white
  }  

  #discover2, #discover3{
    display: none;
    visibility: hidden;
  }

  .moreInfoText{
    padding: 10px 16px;
    margin: 0px 0px 14px;
  }

  /* .moreInfoText:hover{
    cursor: pointer;
    background-color: rgb(35,64,117);
  } */

  .moreInfoText p{
    margin: 0px;
  }
  .moreInfoText .material-symbols-outlined {
    margin: 5px;
  }

  .moreInfoSection .sectionContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
  }

  .bottomNav{
    padding: 35px 30px 30px;
  }


  .moreInfoText{
    display: flex;
    flex-direction: row;

  }
}


/**FULL top nav bar shows, still 2 images for discover, bottom nav expanded*/
@media screen and (min-width: 656px) and (max-width: 959px) {

  main{
    padding-top: 30px;
  }
  #navLogo{
    width: 164px;
    height: 50px;
  }

  #signIn, #systemTime, #reservationsFullScreen{
    display: none;
    visibility: hidden;
  }

  .navbarIcons{
    display: flex;
    flex-direction: row;
  }
  #time, #cart{
    display: flex;
    flex-direction: column;
    padding: 3px 10px;
  }
  #hamburgerMenu{
    padding-left: 5px;
  }



  #bannerSection{
    display: none;
    visibility: hidden;
  }

  header{
    min-width: 360px;
    white-space: nowrap;
  }

  .navbar{
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
  }

  .sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(35,64,117);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
  }
  
  .sideNavHeader{
    display: flex;
    place-content: space-between;
    padding: 25px 10px 10px 25px;
  }

  .sideNavHeaderATags .material-symbols-outlined{
    color: white;
    vertical-align: middle;
    padding-right: 9px;
  }

  .eachNavHeader{
    display: flex;
    padding: 9px 25px;
  }

  .eachNavHeader a{
    color: white !important;
    font-weight: bold;
    visibility: visible !important;
  }

  .eachNavHeader:hover{
    color:white;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }

  .close-button{
    font-size: 40px;
    color: white;
    text-decoration: none;
  }

  .close-button:hover{
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
    color:white
  }

  .scrollTabs div{
    display: flex;
    color: white;
    text-align: center;
    text-decoration: none;
  }

  .tabcontent {
    padding: 40px;
    height: 325px;
  }

  .tabsection{
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* flex-grow: 1;
    flex-basis: 0; */
    text-align: center;
  }

  .searchButton{
    text-align: right
  }

  #searchButton{
    width: 29%;
  }

  #discover3{
    display: none;
    visibility: hidden;
  }

  .sectionContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .sectionContainer #discover1, .sectionContainer #discover2{
    width: 48.5%;
  }

  #discover1{
    margin-right: 3%;
  }

  div.moreInfoSection{
    margin: 120px 0px 0px; 
  }

  .sectionContainer .moreInfoText{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .sectionContainer #moreInfo1, .sectionContainer #moreInfo2, .sectionContainer #moreInfo3{
    width: 32%
  }

  .moreInfoText p{
    padding: 0px;
    margin: auto;
    
  }

  .moreInfoText{
    text-align: left;
  }
  .moreInfoTextChildL{
    width: 15%; 
    margin: auto;
  }

  .moreInfoTextChildR{
    width: 85%; 
    flex-wrap: wrap;
  }

  #moreInfo1, #moreInfo2{
    margin-right: 2%;
  }
}

/**full nav bar*/
@media screen and (min-width: 960px) and (max-width: 1279px) {
  main{
    padding-top: 60px;
  }
  .centerAll{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #navLogo{
    width: 229px;
    height: 70px;
  }

  #mySidenav, #hamburgerMenu, #time, #bannerSection{
    display:none;
    visibility: hidden;
  }

  /* #time, #cart{
    display: flex;
    flex-direction: column;
    padding: 3px 10px;
  } */

  #reservationsFullScreen{
    background-color:rgb(36,100,164);
    padding: 10px 0px;
  }

  .reservations{
    padding: 0px 30px;
  }
  
  .navbar .fullscreenNav{
    padding: 3px 10px;
  }

  .fullscreenNav{
    font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 0, 'opsz' 48;
  }

  a.fullscreenNav:hover{
    color:white;
    text-decoration: none;
  }

  .scrollTabs div{
    display: flex;
    color: white;
    text-align: center;
    text-decoration: none;
  }

  .tabsection{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .tabsection img{
    margin: 5px 0px 0px;
  }
  
  .searchSection{
    width: 100%;
  }

  .searchButton{
    text-align: right
  }

  #searchButton{
    width: 29%;
  }

  .sectionContainer{
    display: flex;
    flex-direction: row;
  }

  #discover1, #discover2{
    margin-right: 2%;
  }

  div.moreInfoSection{
    margin: 120px 0px 0px; 
    width: 100%;
  }

  .sectionContainer #moreInfo1, .sectionContainer #moreInfo2, .sectionContainer #moreInfo3{
    width: 35%
  }

  .moreInfoText{
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .moreInfoText p {
    font-size: 22px;
    margin: auto;
    text-align: left;
  }

  #moreInfo1, #moreInfo2{
    margin-right: 2%;
  }

  .moreInfoTextChildL{
    margin: auto;
  }
  #moreInfo3{
    display: flex;
    flex-direction: row;
  }

  #moreInfo3 span{
    width: 10%
  }

  #moreInfo3 p{
    width: 90%;
  }

  .moreInfoText span{
    margin-right: 10px;
  }
  
}

/** nav has padding and also theres the bg picture*/
@media screen and (min-width: 1280px) {

  body{
    background-image: url("../images/banner-image.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
  }

  div#navbarFullScreen{
    display: flex;
    justify-content: center;
  }
  .navbar{
    width: 1220px;
    max-width: 1220px;
  }
  .navbar .fullscreenNav{
    padding: 3px 10px;
  }
  
  div#reservationsFullScreen{
    display: flex;
    justify-content: center;
  }
  .reservations{
    width: 1220px;
    max-width: 1220px;
  }
  
  nav.bottomNav{
    display: flex;
    justify-content: center;
  }

  .centerAll{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border-radius: 5px 5px 0px 0px;
    margin-top: 350px;
  }

  .searchSection{
    box-sizing: border-box;
    width: 100%;
  }

  main{
    max-width: 1220px;
    margin: auto;
    padding: 0px 0px 100px;
    background-color: transparent;
  }
  #navLogo{
    width: 229px;
    height: 70px;
  }

  #mySidenav, #hamburgerMenu, #time{
    display:none;
    visibility: hidden;
  }

  #reservationsFullScreen{
    background-color:rgb(36,100,164);
    padding: 7px 30px;
  }

  .scrollTabs div{
    display: flex;
    color: white;
    text-align: center;
    text-decoration: none;
  }

  #campsite, #cabin, #group, #backcountry, #canoe{
    margin: 5px 0px 0px 0px;
  }

  .tabcontent{
    background-color: white;
    padding: 40px;
    border-radius: 0px 0px 5px 5px;
  }

  .tabcontent p{
    margin: 0px 0px 12px;
  }

  .tabsection{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  
  .tabsection img{
    height: 19px;
    width: 23px ;
  }

  /** makes the search box wider */
  div .chosen-container{
    width: 400px !important; 
  }

  .searchButton{
    text-align: right
  }

  #searchButton{
    width: 14%;
  }
  
  .sectionContainer{
    display: flex;
    flex-direction: row;
  }

  #discover1, #discover2{
    margin-right: 2%;
  }

  div.moreInfoSection{
    margin: 120px 0px 0px; 
    width: 100%;
  }

  .moreInfoText{
    padding: 10px 16px;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px ;

  }

  .moreInfoText p {
    font-size: 22px;
  }

  .sectionContainer .moreInfoText{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  #moreInfo1, #moreInfo2{
    margin-right: 2%;
  }

  .bottomNav{
    padding: 60px 30px 40px;
  }

  .moreInfoText{
    font-size: 20px;
  }

  .moreInfoText p{
    margin-left: 10px;
  }

  .moreInfoTextChildL{
    margin-top: 8px;
  }
  
}